<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="DicomStorage.WindowsService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <DicomStorage.WindowsService.Properties.Settings>
            <setting name="Port" serializeAs="String">
                <value>104</value>
            </setting>
            <setting name="StorageBaseDir" serializeAs="String">
                <value>U:\DICOM\Хранилище</value>
            </setting>
            <setting name="ImportBaseDir" serializeAs="String">
                <value>U:\DICOM\Импорт</value>
            </setting>
            <setting name="OptionsList" serializeAs="Xml">
                <value>
                    <ArrayOfServerOptions xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <ServerOptions>
                            <ServerName>FLUO</ServerName>
                            <StorageDir>Флюорография</StorageDir>
                            <ImportDir>Флюорография</ImportDir>
                            <ActionName>Флюорография</ActionName>
                            <Codepage>1251</Codepage>
                        </ServerOptions>
                        <ServerOptions>
                            <ServerName>MAMMO</ServerName>
                            <StorageDir>Маммография</StorageDir>
                            <ImportDir>Маммография</ImportDir>
                            <ActionName>Маммография</ActionName>
                            <Codepage>0</Codepage>
                        </ServerOptions>
                        <ServerOptions>
                            <ServerName>RENTGEN</ServerName>
                            <StorageDir>Рентген</StorageDir>
                            <ImportDir>Рентген</ImportDir>
                            <ActionName>Рентген</ActionName>
                            <Codepage>0</Codepage>
                        </ServerOptions>
                    </ArrayOfServerOptions>
                </value>
            </setting>
            <setting name="QueueNameList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DicomCatalog</string>
                    </ArrayOfString>
                </value>
            </setting>
        </DicomStorage.WindowsService.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
